<html>
    <head>
        <!--Inspired by: https://codepen.io/adamrifai/pen/MwZENr-->
        <link href="style.css" rel="stylesheet" />
        <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&sensor=false"></script>
    </head>
    <body>
        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
        <div id="map"></div>
        <img id="overlay" src="gradient.png" />
        <img id="static" />
        <script src="places.js"></script>
        <script src="script.js"></script>
    </body>
</html>
