.gmnoprint{
    display: none!important;
}
a img{
    display: none!important;
}
button {
    display: none!important;
}
body{
    margin: 0px;
    pointer-events: none!important;
}
#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0.95;
}
#static{
    height: 100%;
    width: 100%;
    display: none;
}
